---
import Escaped from '../../../Escaped.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
	<main style="color: wheat;">
		<Escaped is:raw>
			Mitochondria are known as the "powerhouses" of the cell because they generate most of the cell's supply of ATP & CO<sub>2</sub>, which is used as a source of chemical energy.

  		<, >, ", ', &, =, `, !, @, $, %, (, ), +, {, }, [, ].

  		<script>console.log('Hello? No? 😭')</script>
		</Escaped>
	</main>
</Layout>
